.header
{
    background-color: #121212;
}


.header-content{
  height: 43vh; 
  background:  url('static/avengers.jpg');
   background-position: center; 
   background-size: cover; 
   background-repeat: no-repeat;

}

.header-content img{
    margin: 0 auto;
    max-height: 100%;
}

.hd-title{
    width: 68vh;
    font-weight: bolder;
    padding: 40px 0px 0px 30px 
}

.hd-overview{
    width: 68vh;
    padding: 40px 0px 0px 30px ;
    color: lightgray;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.8em;
}


.main-body{
    background-color: #121212;

}

.body-text{
    padding: 0px 0px 0px 2em ;
    transform: translateY(-10px);
}

.movie_card {
    background: #ffffff;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0em 1em 2em 2em ;
    border-radius: 10px;
    display: inline-block;
}

body{
    padding-top: 54px;

}

.footer{
    background-color: #141414;
    color: #ffffff;
    padding: 2em;
}

